body {
    min-height: 100vh;
    margin: 0;

    background: linear-gradient(
        120deg,
        #fee6ca,
        #f9dff3,
        #b9d6c5,
        #b9d3df,
        #d8c7d9
    );

    background-size: 400% 400%;
    animation: cozyColors 20s ease infinite;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

@keyframes cozyColors {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

header h1 {
    font-family: "Courier New", monospace;
    font-size: 4rem;
    color: #fff5df;

    text-shadow:
        0 0 5px #d6a66f,
        0 0 10px #e6b9a9,
        0 0 20px #d293a9,
        0 0 35px #80b79c;

    margin-top: 30px;
    margin-bottom: 10px;
}

header p {
    font-family: Georgia, serif;
    font-size: 1.4rem;
    font-style: italic;
    color: #6f6575;
    letter-spacing: 1px;
    text-shadow: 0 0 8px #f2c6b4;
}

section {
    width: 700px;
    padding: 30px;
    margin: 25px;

    background: #fff1df;

    border: 4px solid #d49a7c;

    /* chunky pixel-game shadow */
    box-shadow:
        8px 8px 0 #5f8f68,
        0 0 15px rgba(205, 142, 157, 0.2);

    /* pixelated corners */
    clip-path: polygon(
        10px 0,
        calc(100% - 10px) 0,
        calc(100% - 10px) 4px,
        calc(100% - 4px) 4px,
        calc(100% - 4px) 10px,
        100% 10px,
        100% calc(100% - 10px),
        calc(100% - 4px) calc(100% - 10px),
        calc(100% - 4px) calc(100% - 4px),
        calc(100% - 10px) calc(100% - 4px),
        10px calc(100% - 4px),
        10px calc(100% - 4px),
        4px calc(100% - 4px),
        4px calc(100% - 10px),
        0 calc(100% - 10px),
        0 10px,
        4px 10px,
        4px 4px,
        10px 4px
    );
}

section h2 {
    font-family: "Courier New", monospace;
    font-size: 1.8rem;
    color: rgb(198, 114, 167);

    text-shadow:
        0 0 5px #f5d6b8,
        0 0 10px #fce3e6;

    margin-top: 0;
}

section p {
    font-family: Georgia, serif;
    font-size: 1.2rem;
    font-style: italic;
    color: #706577;
}

button {
    width: 100px;
    height: 100px;
    margin: 15px;
    padding: 15px;
    font-size: 3rem;
    background: #f5e4c3;
    border: 4px solid #e5bead;
    box-shadow: 6px 6px 0 #429488;
    cursor: pointer;
    transition: transform 0.15s ease;
}

button:hover {
    transform: translate(10px, 10px);
    box-shadow: 4px 4px 0 #5b233b;
}

#completeBtn {
    width: auto;
    height: auto;
    padding: 12px 25px;
    font-size: 1.2rem;
    font-family: "Courier New", monospace;
    background: #f5e4c3;
    border: 4px solid #d6a98c;
    cursor: pointer;
}
